---
const { src, title, description, isVideo = false } = Astro.props;
---

<div
  class="flex-1 flex flex-col items-center p-0 box-border rounded border-2 border-custom-black text-base"
>
  {
    isVideo ? (
      <video
        src={src}
        autoplay
        muted
        loop
        playsinline
        class="w-full h-auto object-cover mb-2 cursor-default p-1"
      />
    ) : (
      <img
        src={src}
        alt={title}
        class="w-full h-auto object-cover mb-2 cursor-default"
      />
    )
  }
  <h3 class="font-aileron-regular mb-1 text-xl">{title}</h3>
  <p class="text-sm font-inter px-3 pb-1">{description}</p>
</div>
